<a href="https://colab.research.google.com/github/Ayantika003/project/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
class MeraLR:
  def _init_(self):
    self.m=None
    self.b=None
  def fit(self,X_train,y_train):
    num=0
    den=0
    for i in range(X_train.shape[0]):
      num=num+((x_train[i] - x_train.mean())*(y_train[i] - y_train.mean()))
      den=den+((x_train[i] - x_train.mean())*(x_train[i] - x_train.mean()))

    self.m=num/den
    self.b=y_train.mean() - (self.m * x_train.mean())
    print(self.m)
    print(self.b)
  def predict(self,x_test):
    print(x_test)
    return self.m*x_test +self.b

In [14]:
import pandas as pd

In [15]:
df=pd.read_csv('/content/Salary_dataset (1).csv')

In [16]:
df

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

In [17]:
df.isnull() # For hndling missing values(if any)

    Unnamed: 0  YearsExperience  Salary
0        False            False   False
1        False            False   False
2        False            False   False
3        False            False   False
4        False            False   False
5        False            False   False
6        False            False   False
7        False            False   False
8        False            False   False
9        False            False   False
10       False            False   False
11       False            False   False
12       False            False   False
13       False            False   False
14       False            False   False
15       False            False   False
16       False            False   False
17       False            False   False
18       False            False   False
19       False            False   False
20       False            False   False
21       False            False   False
22       False            False   False
23       False            False   False
24       False            False   False
25       False            False   False
26       False            False   False
27       False            False   False
28       False            False   False
29       False            False   False

In [18]:
df.drop('Unnamed: 0',axis=1)

    YearsExperience    Salary
0               1.2   39344.0
1               1.4   46206.0
2               1.6   37732.0
3               2.1   43526.0
4               2.3   39892.0
5               3.0   56643.0
6               3.1   60151.0
7               3.3   54446.0
8               3.3   64446.0
9               3.8   57190.0
10              4.0   63219.0
11              4.1   55795.0
12              4.1   56958.0
13              4.2   57082.0
14              4.6   61112.0
15              5.0   67939.0
16              5.2   66030.0
17              5.4   83089.0
18              6.0   81364.0
19              6.1   93941.0
20              6.9   91739.0
21              7.2   98274.0
22              8.0  101303.0
23              8.3  113813.0
24              8.8  109432.0
25              9.1  105583.0
26              9.6  116970.0
27              9.7  112636.0
28             10.4  122392.0
29             10.6  121873.0

In [19]:
x=df.iloc[:,1].values
y=df.iloc[:,2].values

In [20]:
x

array([ 1.2,  1.4,  1.6,  2.1,  2.3,  3. ,  3.1,  3.3,  3.3,  3.8,  4. ,
        4.1,  4.1,  4.2,  4.6,  5. ,  5.2,  5.4,  6. ,  6.1,  6.9,  7.2,
        8. ,  8.3,  8.8,  9.1,  9.6,  9.7, 10.4, 10.6])

In [21]:
y

array([ 39344.,  46206.,  37732.,  43526.,  39892.,  56643.,  60151.,
        54446.,  64446.,  57190.,  63219.,  55795.,  56958.,  57082.,
        61112.,  67939.,  66030.,  83089.,  81364.,  93941.,  91739.,
        98274., 101303., 113813., 109432., 105583., 116970., 112636.,
       122392., 121873.])

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [23]:
lr = MeraLR()

In [24]:
lr.fit(x_train,y_train)

9569.586885432866
23437.21046340505